In [1]:
10 < 100

True

In [2]:
100 != 100

False

In [3]:
50 >= 50

True

In [4]:
age = 19
age<18

False

In [5]:
age<=21

True

In [6]:
age>31

False

In [7]:
"a" < "b"

True

In [8]:
"b" < "a"

False

In [9]:
"John" < "Terry"

True

In [13]:
"john" < "Terry"
#Python compares the lowercase "john" with the uppercase "Terry". In Unicode, lowercase letters have higher values than uppercase letters. 
#Hence, the result is different from the above result.

False

In [14]:
5 < 10.2

True

In [15]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
age = 30
age >=18 and age <=65
age <18 or age >65
not age > 18

False

In [20]:
age = 30
(age >=18 and age <=65) and (not age==30)

False

In [22]:
weight = 120
height = 141
100 < weight < 200
131 < height < 160

True

In [23]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"Graham" in names

True

In [25]:
"Mark" not in names

True

In [27]:
message = "Hello there, my name is John"
"nam" not in message

False

In [34]:
age = int(input("Enter your age: "))
if 18 <= age <=30:
    print("you are still young!")
else:
    print("you are mature enough")

ENter your age:  21

you are still young!

In [38]:
age = int(input("Enter your age: "))
if 18 <= age <=30:
    print("you are still young!")
elif 31<=age<=40:
    print("You are at a mature age!")

Enter your age:  40

You are at a mature age!

In [40]:
name = input("Enter your name: ")
if bool(name):
    print("Your name is" , name)
else:
    print("Name not entered")

Enter your name:  Steve

Your name is Steve

In [42]:
total = 23
if total != 0:
    print ("Total is non-zero")
else:
    print("Total is zero")

Total is non-zero

In [45]:
age = int(input("Enter your age: "))
print("you are an adult") if age>=18 else print("you are not an adult, yet!")

Enter your age:  16

you are not an adult, yet!

In [46]:
names = ["Mark", "Julie", "Michael", "Richard"]
for name in names:
    print(name)

Mark
Julie
Michael
Richard

In [48]:
for num in range(2,11,2):
    result= num**num
    print(f"{num} to the power of {num} = {result}")

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [1]:
numbers = [10, 20, 30, 90, 200, 30, 22, 11]
running_total = 0

for number in numbers:
    running_total += number  # Add the current number to the running total
    print(f"Running total: {running_total}")

Running total: 10
Running total: 30
Running total: 60
Running total: 150
Running total: 350
Running total: 380
Running total: 402
Running total: 413

In [16]:
print("Hello", "World", "Python", sep=" | ")

Hello | World | Python

In [17]:
print("Python", "is", "fun", sep=",")

Python,is,fun