In [3]:
total = 100
print("The total is", total)

The total is 100

In [4]:
total = total + 99
print("The total is now", total)

The total is now 199

In [5]:
total += 99
print("The total is now", total)

The total is now 298

In [7]:
total = total - 1
print("The total is", total)

total = total * 4
print("The total is", total)
total = total / 2
print("The total is", total)

The total is 29799
The total is 119196
The total is 59598.0

In [9]:
total = 98.2
count = 5

average = (total + count)/2
print(average)

51.6

In [16]:
type("Hello")

str

In [17]:
type(100 / 5)

float

In [18]:
type(True)

bool

In [19]:
type(100.111)

float

In [20]:
type(100 // 5)

int

In [21]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [23]:
print("Name: Anna Frank")
print("Address: 123 Main Street, Washington DC")
print("Contact: anaa@gmail.com.com, 5551234567")

name = "Anna Frank"
print("The length of the name '{}' is: {}".format(name, len(name)))

Name: Anna Frank
Address: 123 Main Street, Washington DC
Contact: anaa@gmail.com.com, 5551234567
The length of the name 'Anna Frank' is: 10

In [24]:
age = input("Enter your age ")
age = int(age)
print("In one year you will be", age + 1)

Enter your age  20

In one year you will be 21

In [28]:
comment = 'I would have "thought" you knew better!'
print(comment)
#if we add double quotes in the start and end as well a syntax error will occur

I would have "thought" you knew better!

In [29]:
print('''This text includes characters such as '\' '"' and "'", This is a new line that starts with a tab
This new line starts with two tabs''')

This text includes characters such as '' '"' and "'", This is a new line that starts with a tab
This new line starts with two tabs

In [30]:
print('''\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''')

\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [31]:
print('''This text spans three lines,
and includes both single (&#39;),
and double quotes (").''')

This text spans three lines,
and includes both single (&#39;),
and double quotes (").

In [35]:
surname = "Palin"
initial = surname[2]
print(initial)

l

In [36]:
surname = "Palin"
initial = surname[9]
print(initial)
#if an index that does not exist in a given string out of range error occurs

IndexError: string index out of range

In [37]:
surname = "Palin"
last = surname[-2]
print(last)

i

In [40]:
surname = "Palin"
middle = surname[1:]
print(middle)

alin

In [41]:
surname = "Palin"
middle = surname[:4]
print(middle)

Pali

In [43]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
sliced_primes = primes[:4]
print(sliced_primes)

[2, 3, 5, 7]

In [44]:
names = ["Alice", "Bob", "Charlie", "Eve"]
new_names = ["David", "Frank"]

names = names[:-1] + new_names + names[-1:]
print("Updated names list:", names)

Updated names list: ['Alice', 'Bob', 'Charlie', 'David', 'Frank', 'Eve']

In [46]:
nums = [12, 23, 34, 45]
nums.append(56)
nums.extend([67, 78])
nums = nums[2:]  # Keep only elements from index 2 onwards
nums.insert(1, 10)  # Insert 10 at index 1

print(nums)

[34, 10, 45, 56, 67, 78]